/*******************************/
/* Header */
/*******************************/
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-lightest);
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo {
  height: 2.2rem;
}
/*******************************/
/* Navigation */
/*******************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  display: inline-block;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-primary-darker);
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: var(--color-primary);
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-primary-darker);
}

/* Mobile */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  stroke: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* Sticky Navigation */
.sticky .header-main {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
/*******************************/
/* Hero Section */
/*******************************/
.section-hero {
  background-color: var(--color-primary-lightest);
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.8rem;
  border: 3px solid var(--color-primary-lightest);
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  font-weight: 700;
  color: var(--color-primary-darker);
}

/*******************************/
/* How it works section */
/*******************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  margin-bottom: 2.4rem;
  text-align: center;
  color: #888;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*******************************/
/* How it works section */
/*******************************/
.section-how {
  padding: 9.6rem 0;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  z-index: -2;

  background-color: var(--color-primary-lightest);
}
.step-img-box::after {
  width: 45%;
  /* height: 60%; */
  padding-bottom: 45%;
  z-index: -1;

  background-color: var(--color-primary-lighter);
}
.step-img {
  width: 35%;
}

.step-number {
  font-size: 8.6rem;
  color: #ddd;
  font-weight: 600;
  margin-bottom: 2.3rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*******************************/
/* Meals section */
/*******************************/
.section-meals {
  padding: 9.6rem 0;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-content {
  padding: 4.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  font-weight: 600;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color-primary);
}

.meal-img {
  width: 100%;
}

.meal-title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}
.meal-attribures {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
}

.all-recipies {
  font-size: 1.8rem;
  text-align: center;
}

/*******************************/
/* Testimonials */
/*******************************/
.section-testimonials {
  background-color: var(--color-primary-lightest);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  width: 100%;
  display: block;
  transition: all 0.3s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

/*******************************/
/* Pricing section */
/*******************************/
.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plan {
  border-radius: 11px;
  width: 75%;
  overflow: hidden;
}
.pricing-plan--starter {
  border: 2px solid var(--color-primary-lightest);
  justify-self: end;
  padding: 4.6rem;
}
.pricing-plan--complete {
  padding: 4.8rem;
  position: relative;
  background-color: var(--color-primary-lightest);
}
.pricing-plan--complete::after {
  content: "Best value";
  text-transform: uppercase;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
  font-weight: 700;
  position: absolute;
  top: 6%;
  right: -18%;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: var(--color-primary-darker);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
}
.plan-text {
  font-size: 1.6rem;
  text-align: center;
  color: #6f6f6f;
}
.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.plan-empty-list-item {
  color: #6f6f6f;
  text-decoration: line-through;
}
.plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
.feature-icon {
  width: 4.8rem;
  height: 4.8rem;
  margin-bottom: 3.2rem;
  background-color: var(--color-primary-lightest);
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-icon {
  color: var(--color-primary);
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*******************************/
/* CTA section */
/*******************************/
.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(
    to right bottom,
    #eb984c,
    var(--color-primary)
  );
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: var(--color-primary-darkest);
}
.cta .heading-secondary {
  color: var(--color-primary-darkest);
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 153, 76, 0.35),
      rgba(230, 116, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-position: center;
  background-size: cover;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  color: inherit;
  font-family: inherit;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  background-color: var(--color-primary-lightest);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/*******************************/
/* Footer */
/*******************************/
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon {
  fill: inherit;
  width: 2.4rem;
  height: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  color: #767676;
  margin-top: auto;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  fill: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
  fill: #555;
}
